.cards {
    margin: 0 15% 0 15%;
}

.commentCards {
    margin: 0 5% 0 5%;

}

.even {
    background-color: #e3e3de;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


.blogImage {
    width: 50%;
    margin: 5px auto 0 auto;
    border-width: 4px;
    border-color: rgb(133, 5, 253);
    border-style: solid;
    padding: 4px;
    border-radius: 15px;
}